<%- include("partials/header") %>
    <div class="dashboard-card card mx-auto">
        <div class="card-body">
            <h1 class="card-title">Dashboard</h1>
            <p>Welcome to your dashboard! Your are now logged in.</p>
        </div>
    </div>
<%- include("partials/footer") %>