<%- include("partials/header-dashboard") %>
    <div class="dashboard-card card mx-auto">
        <div class="card-body">
            <h1 class="card-title">Dashboard</h1>
            <p>Welcome <%= user %>! You're now logged in.</p>
        </div>
    </div>
<%- include("partials/footer") %>