<%- include('./partials/header') %>

<div class="welcome-card card">
    <div class="card-body">
        <h1 class="card-title">SS-Auth</h1>
        <h2 class="card-subtitle mb-2 text-body-secondary">v1.0.0</h2>
        <p class="welcome card-text">
            Welcome to the SS-Auth! Please <a href="/register">register</a>
            or <a href="/login">login</a> to continue.
        </p>

    </div>
</div>

<%- include('./partials/footer') %>