<%- include("partials/header") %>
<h1>Registration</h1>
<form>
    <label for="first-name">First Name:
        <input type="text" name="first-name" id="first-name" required>
    </label>
    <label for="last-name">Last Name:
        <input type="text" name="last-name" id="last-name" required>
    </label>
    <label for="email">Email:
        <input type="text" name="email" id="email" required>
    </label>
    <label for="password">Password:
        <input type="text" name="password" id="password" required>
    </label>
    <input type="submit">
</form>
<%- include("partials/footer") %>