<!--footer.ejs starts here-->
<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', 'particles.json', function () {
        console.log('callback - particles.js config loaded');
    });
</script>
<footer class="container-fluid text-center">
    <p>This simple bootstrap layout comes from the following: <a
            href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
    <p>This site was built using Node.js, Express.js and EJS templates by Suncerie Daye</p>
</footer>
</body>

</html>