    <!--footer.ejs starts here-->
        <footer class="container-fluid text-center">
            <p>This simple bootstrap layout comes from the following: <a href="https://getbootstrap.com/">https://getbootstrap.com/</a></p>
            <p>This site was built using Node.js, Express.js and EJS templates by Suncerie Daye</p>
        </footer>
    </body>
</html>
